@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    color: #666666;
    background: var(--background);
    font-family: 'Poppins', sans-serif;
}
.serviceBoxCarousel .slick-track {
    display: flex;
    gap: 20px;
}